html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    padding: 0 20%;
    background-color: aliceblue;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.top-nav-links ul{
    list-style: none;
    display: flex;
    gap: 24px;
}