html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    /* padding: 0px 16%; */
    margin: 0;
    background-color: #EDEFF0;
}

div img{
    display: flex;
}

h1, h2, h3, h4 {
    font-family: "Oxanium", 'Courier New', Courier, monospace;
    margin: 0;
    color: #0E151B;
}

p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #0E151B;
    line-height: 1.5;
}

a {
    font-family: "Oxanium", 'Courier New', Courier, monospace;
    color: #FE910B;
    font-weight: 700;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    background-color: #EDEFF0;
    margin-top: 0;
    padding: 16px 15%;
}

.top-nav-links ul{
    list-style: none;
    display: flex;
    gap: 24px;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border: 1px solid blue;
    padding: 60px 15%;
    background-color: #EDEFF0;
    h3 {
        margin-top: 8px;
    }
}

.services-container {
    background-color: #B9C3CA;
    text-align: center;
    border: 1px solid yellow;
    padding: 60px 15%;
}

.service-block-group {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.services-block {
    border: 1px solid pink;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        margin: 20px 0 0 0;
        font-weight: 700;
        font-size: 16px;
    }
    p{
        margin-top: 8px;
    }
}

.icon {
    background-color: #1A2937;
    padding: 20px;
    border-radius: 100%;
    img {
        width: 32px;
        height: auto;
    }
}

.quote-container {
    padding: 60px 15%;
}

.quote-block {
    border-left: 5px solid #FE910B;
    padding-left: 24px;
    p {
        font-family: "Oxanium", 'Courier New', Courier, monospace;
    }
}

p.quote {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
}

.cta-container {
    padding: 120px 15%;
    border: 1px solid lawngreen;
    background-color: #1A2937;
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #152029;
    padding: 24px;
    p {
        color: #EDEFF0;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 12px;
    }
}